mondrian ICON "bitmaps/mondrian.ico"
#include "wx/msw/wx.rc"

wiztest 	BITMAP  "bitmaps/wiztest.bmp"
wiztest2 	BITMAP  "bitmaps/wiztest2.bmp"

new 	BITMAP "bitmaps/new.bmp"
open 	BITMAP "bitmaps/open.bmp"
save 	BITMAP "bitmaps/save.bmp"
copy 	BITMAP "bitmaps/copy.bmp"
cut 	BITMAP "bitmaps/cut.bmp"
paste 	BITMAP "bitmaps/paste.bmp"
print 	BITMAP "bitmaps/print.bmp"
help 	BITMAP "bitmaps/help.bmp"

insert 	BITMAP "bitmaps/insert.bmp"
add 	BITMAP "bitmaps/add.bmp"
remove 	BITMAP "bitmaps/remove.bmp"

validate 	BITMAP "bitmaps/validate.bmp"
compose	BITMAP "bitmaps/compose.bmp"
send 	BITMAP "bitmaps/send.bmp"
undo	BITMAP "bitmaps/undo.bmp"
header 	BITMAP "bitmaps/header.bmp"
search 	BITMAP "bitmaps/search.bmp"
