
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height: 1.4;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}

a img, :link img, :visited img
{
	border: 0;
}

div.phonenumber {
    position: absolute;
    right: 33px;
    top: 42px;
    width: 291px;
}

p.pickup {
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 18px;
    color: #fee3b0;
    line-height: 1em;
    margin: 0;
}

p.pickup span {
    color: #fff;
}

p.phone {
    font-family: Arial Narrow, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #333;
    line-height: 1em;
    margin: 0;
}

p.phone span {
    color: #fee3b0;
    font-weight: normal;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul
{
	list-style: none;
}

q:before, q:after, blockquote:before, blockquote:after
{
	content: "";
}

input
{
	vertical-align:middle;
}

.clear:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clear
{
	display:inline-block;
}

h1, h2, h3, h4
{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body
{
	color:#604d2a;
	font-family:Arial, Calibri, Arial, Helvetica, sans-serif;
	font-size:13px;
	background:#ededed url(i/body_bg.png) center center repeat-y;
}

#content h1
{
	font-size:1.7em;
	margin:10px 0 10px 0;
	border-bottom:2px solid #b33d2e;
	padding:0 0 3px 1.5em;
	background:url(i/pimpa1.png) 0 center no-repeat;
}

#content h2
{
	border-bottom:2px solid #D1A883;
	padding-bottom:3px;
}

#content h3
{
	margin:1em 0 5px 5px;
	font-weight:bold;
}

#content ul
{
	margin:0 1em 1em 1em;
}

#content li
{
	padding:3px 0 3px 20px;
	background:url(i/pimpa2.png) 0 6px no-repeat;
}

a.more
{
	padding:3px 0 3px 17px;
	background:url(i/more.png) 0 7px no-repeat;
	display:block;
}

#content p
{
	margin-left:1em;
}

blockquote
{
	padding:1em 0 1em 1.5em;
	margin: 0 0 5px 10px;
	border-left:2px solid #D1A883;
	background:#fcf4ec;
}

h1 a
{
	text-decoration:none;
}

h1 a:hover
{
	text-decoration:underline;
}

h2
{
	font-size:1.5em;
	font-weight:bold;
	margin-top:1em;
	margin-bottom:5px;
}

h3
{
	font-size:1.5em;
	font-style:italic;
}

h4
{
	font-size:1.3em;
	font-weight:bold;
}

.wrapper
{
	margin:0 auto;
	width:972px;/*border:2px dashed blue;, #header, #content, #prefooter, #footer, #menu*/
	padding:0 4px;
	background:url(i/wrapper_bg.png) center center repeat-y;
	overflow:hidden;
}

#content, #prefooter, #footer, #menu
{
	padding:0 15px
}

#menu
{
	z-index:100;
	position:relative;
}

p
{
	line-height:1.5em;
	margin:0 0 10px;
}

#footer a, #footer a:link, #footer a:hover
{
	color:#B09A7D;
}

a, a:link
{
	color:#681700;/*text-decoration:none;*/
}

a:hover
{
	color:#000;
}

.clearboth
{
	clear:both;
}

#header
{
	height:144px;
	background:#de0710 url(i/top_bg.png) repeat-x;
	color:#e1ae4e;
	position:relative;
}

#pimp
{
	position:absolute;
	top:15px;
	background: url(i/headerpimp.png) no-repeat;
	height:119px;
	width:121px;
}

#logo
{
	height:62px;
	width:460px;
	position:absolute;
	top:32px;
	left:130px;
}

#underlogo
{
	height:28px;
	width:411px;
	position:absolute;
	top:95px;
	left:140px;
}

#content
{
	background:#fff url(i/content_top_bg.png) repeat-x;
}

#prefooter
{
	height:45px;
	background:#fff url(i/bottom_content_bg.png) repeat-x;
}

#footer
{
	background:#59422e url(i/footer_bg_big.png);
}

#footer p
{
	margin:0;
}

.addserv
{
	border-top:2px solid #75603e;
	padding:0 1em 1em 1em;
	font-size:0.9em;
}

.addserv p
{
	padding-left:2em;
	color:#B09A7D
}

strong, b
{
	font-weight:bold;
}

#freepickup
{
	width:291px;
	position:absolute;
	top:42px;
	right:33px;
}

.padding_10
{
	position:absolute;
	top:0;
	right:10px;
	padding-top:15px;
	text-align:right;
}

.padding_10 a
{
	color:#f8d28a;
	font-size:12px;
	text-decoration:none;
}

.padding_10 a:hover
{
	color:#fee2ac;
	text-decoration:underline;
}

#content
{
	padding-top:1.5em;
}

#footer
{
	color:#fff;
	font-size:12px;
	font-weight:normal;
}

#footer .contact
{
	float:right;
	text-align:right;
	padding:2em 5px 5px 1em;
}

.copyright
{
	float:left;
	color:#b99b93;
	padding:4em;
}

.cert
{
	float:left;/*opacity:0.7;*/
}

.cert img
{
	padding:2em 3em 0 0em;
	vertical-align: middle;
}

.content_col
{
	float:left;
	width:600px;
	padding:0 10px 0 10px;
	font-size:14px;
}

.right_col
{
	float:right;
	width:310px;
}

.article img.left
{
	float:left;
	margin:5px 10px 5px 0;
	border:1px solid #aa7132;
}

input[type=text]:focus, .inline input[type=text]:focus
{
	background-color:#fdfdd6;
	border-color:#555;
	color:#000;
}

.bookmark
{
	padding:0 10px 3px 50px;
	height:35px;
	margin:20px 0 0px 0;
	background:url(i/fav.png) 0 0px no-repeat;
	font-family:Calibri, Tahoma, Geneva, sans-serif;
	font-size:16px;
	border-bottom:2px solid #D1A883;
	line-height:30px;
}

.addthis_button, .facebook, .twitter
{
	float:right;
	padding:0 0 0 20px;
}

.bookmark b
{
	float:left;
}

.addthis_button
{
	padding-top:5px;
}

.facebook
{
	padding-top:2px;
}

.mail
{
	padding-left:50px;
	margin-left:0px;
	margin-top:5px;
	margin-bottom:20px;
	background:url(i/mail.png) 0 5px no-repeat;
	font-family:Calibri, Tahoma, Geneva, sans-serif;
	font-size:16px;
	padding-top:5px;
}

.video
{
	padding-left:50px;
	height:35px;
	margin-left:0px;
	margin-top:0px;
	background:url(i/video.png) 0 5px no-repeat;
	font-family:Calibri, Tahoma, Geneva, sans-serif;
	font-size:16px;
	border-bottom:2px solid #D1A883;
	padding-top:12px;
}

.video a
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
	/*	border-top:2px solid #D1A883;*/
	padding-left:20px;
}

form.inline
{
	text-align:left;
}

.form_s h3, form, .formemul h3
{
	text-align:center;
	margin:0px !important;
	width:98%;
}

form, .formemul
{
	background:url(i/form_bg.png) repeat-x;
	border:1px solid #bbb;
	padding:5px;
}

input[type=text], textarea, select
{
	font-weight:normal;
	font-size:17px;
	background:#fbfbfb;
	border:1px solid #92908f;
	padding-left:5px;
	color:#46332b;
	font-family: Arial, Helvetica, sans-serif;
}

input[type=text]
{
	line-height:24px;
	padding-top:2px;
	width:164px;
	height:23px;
}

.full input[type=text]
{
	line-height:24px;
	padding-top:2px;
	width:200px;
	height:23px;
}

.full select
{
	line-height:28px;
	height:25px;
	width:207px;
	padding-top:0px;
	padding-left:5px;
}

label
{
	float:left;
	display:block;
	width:31%;
	text-align:right;
	line-height:23px;
	padding:0 5px 0 0;
}

.full div.row
{
	margin-left:30px;
	clear:both;
}

div.row
{
	margin:5px 0;
	line-height:24px;
}

#btnCalendar
{
	width:28px;
	text-align:center;
	cursor:pointer;
}

#content.full h3, .formemul h3
{
	margin-bottom:5px;
	padding:5px;
}

.inline input
{
	color:#999;
}

.short textarea
{
	width:164px;
}

.full textarea
{
	width:200px;
}

a.submit
{
	display:inline-block;
}

input[type=submit], a.submit
{
	width:114px;
	height:25px;
	background: url(i/button_bg.png);
	color:#fee3b0;
	border:none;
	cursor:pointer;
	font-size:13px;
	line-height:20px;
}

input[type=submit]:hover
{
	color:#fff
}

textarea
{
	padding-top:3px;
}

textarea[readonly=readonly]
{
	color:#806b65;
	font-size:0.9em;
}

.short input[type=submit]
{
	/*	margin-left:45px;*/
	line-height:15px;
}

.short textarea
{
	height:4em;
}

.center
{
	text-align:center !important;
}

form.inline
{
	border:none;
	background:none;
}

form h3, .formemul h3
{
	color:#68050c;
	font-size:24px;
	margin:0 auto;
	border-bottom:1px solid #e3e3e3
}

.some
{
	font-variant:small-caps;
	font-weight:bold;
}

form span, .formemul span
{
	color:#db040e;
	font-size:11px;
	padding-top:5px;
	display:block;
	text-align:center;
}

.border
{
	border:1px solid #452820;
}

.slide
{
	height:360px;
	width:590px;
	border:1px solid #452820;
	position:relative;
	z-index:0;
}

#slideshow
{
	position:absolute;
}

div.row strong
{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#db040e;
	font-size:18px;
	width:164px;
	display:inline-block;
	padding-left:7px;
	font-weight:normal;
}

.full label span
{
}

.error
{
	color:#db040e;
}

form div strong, .formemul div strong
{
	line-height:24px;
	color:#AF6025;
}

form.full p, .formemul p
{
	font-size:13px;
	padding:8px 0 0 0;
	line-height:1.3em;
	text-align:center;
}

form h4, .formemul h4
{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align:center;
	clear:both;
}

h4.separator
{
	padding:.8em 0 .5em 0;
	border-top:1px solid #eee;
	margin-top:1em;
}

.full label span
{
	color:#68050C;
	text-align:left;
}

.links
{
	padding:1px 1em 0;
	font-size:18px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#content .links li a
{
	line-height:34px;
}

.links li
{
	line-height:34px;
	padding:0 0 3px 1.5em !important;
	background:url(i/pimpa2.png) 0 center no-repeat !important;
}

.links h3
{
	font-size:25px;
	font-family:"Myriad Pro Cond", Arial, Tahoma;
	font-style:italic;
	font-weight:bold;
	border-bottom:2px solid #9f9b9b;
	color:#6e5950;
	padding:0 0 3px 0;
	margin-bottom:8px;
}

.optional
{
	color:#977e75;
}

.right
{
	float:right !important
}

/*superfishmenu*/
	
/*** ESSENTIAL STYLES ***/

#menu
{
	height:38px;
	background:#59422e url(i/menu_bg.png) repeat-x;
}

.sf-menu, .sf-menu *
{
	margin:			0;
	padding:		0;
	list-style:		none;
}

.sf-menu
{
	line-height:	38px;
}

.sf-menu ul
{
	position:		absolute;
	top:			-999em;
	width:			12em; /* left offset of submenus need to match (see below) */
}

.sf-menu ul li
{
	width:			100%;
}

.sf-menu li:hover
{
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li
{
	float:			left;
	position:		relative;
}

.sf-menu a
{
	display:		block;
	position:		relative;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul
{
	left:			0;
	top:			38px; /* match top ul list item height */
	z-index:		99;
}

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul
{
	top:			-999em;
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul
{
	left:			12em; /* match ul width */
	top:			0;
}

ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul
{
	top:			-999em;
}

ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul
{
	left:			13em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu
{
	width:99%;
	height:38px;
}

.sf-menu a
{
	/*background:#FFFFFF url('../images/menu_bg.gif') repeat scroll 0 0;*/
color:#549DC7;
	padding: 7px 3px 3px 3px;
	text-decoration:none;
}

.sf-menu a, .sf-menu a:visited
{ /* visited pseudo selector so IE6 applies text colour*/
	color:#fff;
}

.sf-menu li
{
	/*background:		#BDD2FF;	border-top:1px solid #EBE8E8;	border-left:1px solid #8b513b;
	border-right:1px solid #8b513b;*/

	font-weight:bold;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
	letter-spacing:-1px;
	margin:0 6px;
	height:38px;
}

.sf-menu li ul
{
	margin-left:-0px;
}

.sf-menu li li
{
	background:	#3f2e26;
	font-weight:normal;
	font-size:13px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	margin:0;
	border-left:1px solid #8b513b;
	border-right:1px solid #8b513b;
	border-bottom:1px solid #4d3b32;
	padding: 0px 0px 0px 8px;
	height:auto;
}

.sf-menu li li a
{
	padding: 5px 0px 5px 0px;
}

.sf-menu li li li
{
	background:		#9AAEDB;
	border:none;
}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, a.current
{
	/*background:#b33229 url(i/menu_bg.png) repeat-x;*/
	outline:		0;
	color:#fee3b0;
	background: url(i/menuhover.png) center center no-repeat;
}

.sf-menu li li:hover, .sf-menu li li.sfHover, .sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active
{
	background: #372820;
	text-decoration:underline;
}

/*** arrows **/
.sf-menu a.sf-with-ul
{
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator
{
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../superfishmenu/images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}

a > .sf-sub-indicator
{  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator
{
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator
{
	background-position:  -10px 0;
}

.sf-menu ul a > .sf-sub-indicator
{
	background-position:  0 0;
}

/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator
{
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul
{
	background:	url('i/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;/*	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;*/
}

.sf-shadow ul.sf-shadow-off
{
	background: transparent;
}

/*end superfishmenu*/
div.result
{
	line-height:2em;
	margin-left:13% !important;
}

.result label
{
	line-height:2em;
}

.result span
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:1.2em;
	text-align: left;
	padding-top:2px;
	color: #A65315;
	max-height:3em;
	overflow:hidden;
}

.onlyone
{
	margin:7em 0 !important;
}

.paddings td
{
	padding:2px;
}

.padbefore
{
	padding:2em 0 1em 0;
}

#content h3.centerline
{
	margin:1em 0 1em 0;
	padding:0 0 .5em 0;
	text-align:center;
}

#content .links h3
{
	margin-top:10px;
	padding-bottom:0;
}

.marklinks a
{
	padding:0 10px 0 20px;
	line-height:16px;
	background:url(i/mark.png) 0 center no-repeat;
}

a.facebooka
{
	background:url(i/facebookico.png) 0 center no-repeat;
}

a.googla
{
	background:url(i/googleico.png) 0 center no-repeat;
}

a.yelpa
{
	background:url(i/yelpico.png) 0 center no-repeat;
}

a.yahooa
{
	background:url(i/yahooico.png) 0 center no-repeat;
}

.onehalf
{
	width:48%;
	float:left;
	margin-left:1%;
}

.half label
{
	width:44%;
}

h3 strong em
{
	color:#AF6025;
}

#content .faq h3
{
	margin-top:0;
}

#content .faq li
{
	background:  url(i/pimpa2.png) no-repeat 0 12px;
}

.spec
{
	background: #F8EDE4;
	padding:.5em 0;
	border:1px solid #B7A67D;
}

.faq h3
{
	border-bottom:1px dotted #C5A585;
}

.faq ul li h3
{
	border:none;
}

.faq a
{
	text-decoration:none;
	border-bottom:1px solid #C5A585;
}

.faq a:hover
{
	text-decoration:none;
	border-bottom:1px solid #876347;
}

#content .faq li li
{
	background:  url(i/more.png) no-repeat 0 .5em;
}

#content .sitemap li li
{
	background:  url(i/pimpa3.png) no-repeat 0 .7em;
}

#content .sitemap li li li
{
	background:  url(i/more.png) no-repeat 0 .5em;
}

div.sitemap
{
	padding-left:3%;
}

#content .sitemap li li li li
{
	background:  url(i/more.png) no-repeat 0 .5em;
}

#content .sitemap ul
{
	margin-left:0;
}

#content .sitemap ul ul
{
	margin-top:.5em;
}

.faq :target
{
	border:1px solid #B7A67D;
	background: #F9F3F0;
}

.question
{
	padding:5px;
}

form h5, .formemul h5
{
	text-align:center;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:1.2em;
	padding:.5em;
}

.testimon
{
	border:1px dotted #eee;
	background:#FBFAF4;
	padding:.8em 1em;
	position:relative;
	margin-top:1em;
}

.mini
{
	padding:.5em .5em 5px 10px;
}

.mini .name
{
	margin:5px 5px 0 0;
}

.mini .comment
{
	padding:.5em .9em 5px .9em;
}

.date
{
	color:#b07b69;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style:normal;
	font-weight:normal;
	padding-right:1em;
	font-size:0.9em;
}

.mini .date
{
	font-size:1em;
}

.mini .ratingcont
{
	position:absolute;
	top:.5em;
}

.name
{
	font-weight:bold;
	font-style:italic;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:1.2em;
	border-bottom:1px solid #eee;
	padding:0 0 3px 0;
}

.city
{
	font-weight:normal;
}

.comment
{
	padding:1em;
}

.ratingcont
{
	position:absolute;
	right:1em;
	top:.8em;
	color:#b07b69;
}

.rating
{
	float:right;
	width:90px;
	height:18px;
	background:url(i/star.png) 0 0 repeat-x;
}

.actives
{
	height:18px;
	background:url(i/staractive.png) 0 0;
}

.stars0
{
	width:18px;
	background:none;
}

.stars1
{
	width:18px;
}

.stars2
{
	width:36px;
}

.stars3
{
	width:54px;
}

.stars4
{
	width:72px;
}

.stars5
{
	width:90px;
}

#content h1.big
{
	margin-top:0;
}

#content .big
{
	font-size:2.2em;
}

#content .faq h2
{
	margin:0;
}

#content .faq h2 a
{
	border:none;
}

#content div.small
{
	line-height:1.1em;
	font-size:.9em;
}

#content .marginafter
{
	margin-bottom:2em;
}
#content .formemul span.commentar {

margin-right:50px;
max-height:none;
}