.Navigator_Table
{
	background-color: #eff7de;
	font-size: 8pt;
	font-family: Verdana;
	font-style: normal;
	border: 0px;
	border-style:solid;
	line-height: 10pt;
}

.grey_Table
{
	background-color: #ffffff;
	font-size: 8pt;
	font-family: Verdana;
	font-style: normal;
	border: 1px;
	border-color:#cccccc;
	border-style:solid;
	line-height: 10pt;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.learnmore_Table
{
	background-color: #ffffff;
	font-size: 8pt;
	font-family: Verdana;
	font-style: normal;
	border: 1px;
	border-color:#000000;
	border-style:solid;
	line-height: 10pt;
	padding-bottom: 15;
	padding-top: 15;
	padding-left: 15;
	padding-right: 15;
	margin: 0;
}

.descriptions_Table
{
	background-color: #ffffff;
	font-size: 8pt;
	font-family: Verdana;
	font-style: normal;
	border: 1px;
	border-color:#000000;
	border-style:solid;
	line-height: 10pt;
	padding-bottom: 15;
	padding-top: 15;
	padding-left: 15;
	padding-right: 15;
	margin: 0;
	text-align:left ;
}


.Navigator_Header_Cell
{	
	font-weight: bold;	
	font-size: 8pt;		
	font-family: Tahoma;
	background-color: #eeeeee;
	text-align: center;
	border: 1px;
	border-style: solid;
	border-color: #c0c0c0;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;	
	padding-top: 2px;
	padding-bottom: 2px;
	
}

.Navigator_Item_Cell1
{
	background-color:#B3BBC4;
	color:#000000;	
	font-size: 8pt;
	font-style: normal;
	font-family: Tahoma;
	text-align:center;
	font-weight:bold;
	
}
.Navigator_Category_Cell
{
	background-color:#a3adb8;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	font-family: Tahoma;	
	padding-top: 3px;
	padding-bottom: 3px;
	color: #000088;
}

.Navigator_Item_Cell
{
	color:#000000;	
	font-size: 8pt;
	font-style: normal;
	font-family: Tahoma;
	text-align:center;
	font-weight:bold;
}

A.Navigator_Item_Link
{
	color:#000000;
	font-family: Tahoma;
	font-size:8pt;
	font-style:normal;
	text-align:center;
	font-weight:bold;
}
A.Navigator_Item_Link:Hover
{
	color:#cccccc;
	font-family: Tahoma;
	font-size:8pt;
	font-style:normal;
	text-align:center;
	font-weight:bold;
}
