<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <acl name="wasp">
<grant>
<princ clazz="org.idoox.security.WASPPrincipal" n="admin"/>
<perm clazz="org.systinet.security.perm.WASPRole" n="administrator"/>
</grant>
        <role name="administrator">
            <perm clazz="java.security.AllPermission" name="wasp"/>
        </role>
    </acl>
</configuration>
