/* CSS file */

/*
@font-face {
    src:url("../calendar/fonts/MyriadWebPro.ttf");
    font-family: Myriad;
}

@font-face {
    src: url("../calendar/fonts/MyriadWebPro-Bold.ttf") ;
    fontFamily: Myriad;
    fontWeight: bold;
}

@font-face {
    src: url("../calendar/fonts/MyriadWebPro-italic.ttf") ;
    fontFamily: Myriad;
    font-style: italic;
}

@font-face {
    src:url("../calendar/fonts/verdana.ttf");
    font-family: MyVerdana;
}

@font-face {
    src: url("../calendar/fonts/verdanab.ttf") ;
    fontFamily: MyVerdana;
    fontWeight: bold;
}

@font-face {
    src: url("../calendar/fonts/verdanai.ttf") ;
    fontFamily: MyVerdana;
    font-style: italic;
}

@font-face {
    src:url("../calendar/fonts/cour.ttf");
    font-family: MyCourier;
}

@font-face {
    src: url("../calendar/fonts/courbd.ttf") ;
    fontFamily: MyCourier;
    fontWeight: bold;
}

@font-face {
    src: url("../calendar/fonts/couri.ttf") ;
    fontFamily: MyCourier;
    font-style: italic;
}

@font-face {
    src: url("../calendar/fonts/courbi.ttf") ;
    fontFamily: MyCourier;
    font-style: italic;
    font-weight: bold;
}

@font-face
{
   font-family: MyArial;
   src: local("Tahoma");
}
*/

Application {
    font-size: 12;
    font-family: "Tahoma";  
}


.bigHours {
    font-size: 0;
    color: #DDDDFF;
}
/*
FormItemLabel {
    color: #FFFFFF;
    textRollOverColor: #FFFFFF;
    textSelectedColor: #FFFFFF;
}
*/
Alert {
    font-weight: bold;
    font-size: 10;
    textRollOverColor: #FFFFFF;
    textSelectedColor: #FFFFFF;
    color: #FFFFFF;
    background-color: #565656;
    borderColor: #565656;
    borderThickness: 0;
    alpha: 0.75;
}

.calendarsContainer {
    color: #000000;
    background-color: #FFFFFF; 
    padding-right: 5;
    padding-left: 5;
    padding-top: 5;
    padding-bottom: 5;
}

.headerLabel {
    color: #000000; 
}


.emptyLabel {
    color:#D04040;
    text-align:right;
    font-weight:bold;
}

.filledLabel {
    color:#000000;
    text-align:right;
    font-weight:normal;
}

.totalAmount {
    color:#30B030;
    font-weight:bold;
}

.totalAmountExceeded {
    color:#D04040;
    font-weight:bold;
}
