table {
    border: 0px;
}

div.message {
    color: red;
    text-align: center;
    font-weight: bold;
}

div.languages {
    text-align: right;
}

div.menu {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

hr {
    height: 1px;
    width: 100%;
}

span.required {
    color: red;
    font-weight: bold;
}

span.tip {
    font-size: 10pt;
}
