<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="shoppingcart_test.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AerSysCo.MacPac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RateWebServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <log4net>
        <appender name="file" type="log4net.Appender.RollingFileAppender,log4net" >
            <param name="File" value="d:/var/log/AerSysCo.Server.log"/>
            <param name="MaximumFileSize" value="15MB"/>
            <param name="CountDirection" value="1"/>
            <param name="MaxSizeRollBackups" value="50"/>
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d [%5t] %-5p %c - %m%n" />
            </layout>
        </appender>

        <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
            <bufferSize value="100" />
            <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <connectionString value="data source=(local);initial catalog=ascwarehouse;integrated security=false;persist security info=True;User ID=sa;Password=gfhjkm" />
            <commandText value="INSERT INTO Log ([Source], [Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES ('Client',@log_date, @thread, @log_level, @logger, @message, @exception)" />
            <parameter>
                <parameterName value="@log_date" />
                <dbType value="DateTime" />
                <layout type="log4net.Layout.RawTimeStampLayout" />
            </parameter>
            <parameter>
                <parameterName value="@thread" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%thread" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@log_level" />
                <dbType value="String" />
                <size value="50" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%level" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@logger" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%logger" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@message" />
                <dbType value="String" />
                <size value="4000" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%message" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@exception" />
                <dbType value="String" />
                <size value="2000" />
                <layout type="log4net.Layout.ExceptionLayout" />
            </parameter>

            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="WARN" />
                <levelMax value="FATAL" />
            </filter>

        </appender>

        <root>
            <priority value="DEBUG"/>
            <appender-ref ref="file"/>
            <!-- <appender-ref ref="AdoNetAppender"/> -->
        </root>
    </log4net>

    <appSettings>
        <add key="lift_gate_price" value="125"/>

        <add key="krueger_default_category" value=""/>
        <add key="titus_default_category" value=""/>

        <add key="krueger_urlPrefix" value="http://localhost/asc_warehouse/acknowledgements"/>
        <add key="titus_urlPrefix" value="http://localhost/asc_warehouse/acknowledgements"/>
        <add key="acknowledgement" value="D:\customers\affilia\ASC\server\acknowledgements" />
        <add key="macpacdir" value="D:\customers\affilia\ASC\server\macpac"/>
        <add key="macpaccopydir" value="D:\customers\affilia\ASC\server\macpac-copy"/>

        <add key="krueger_domain" value="krueger"/>
        <add key="titus_domain" value="titus"/>

        <add key="titus_fedex_key" value="aKuPnKxlZR1TxX8L"/>
        <add key="titus_fedex_account" value="510087160"/>
        <add key="titus_fedex_meter" value="7000476"/>
        <add key="titus_fedex_password" value="PNuo3HpkKVZjBeU8yiuu61YC4"/>

    </appSettings>

    <applicationSettings>
        <AerSysCo.MacPac.Properties.Settings>
            <setting name="AerSysCo_MacPac_WebReference_Service" serializeAs="String">
                <value>http://76.225.134.22/ws_macpac/Service.asmx</value>
            </setting>
        </AerSysCo.MacPac.Properties.Settings>
        <RateWebServiceClient.Properties.Settings>
            <setting name="RateWebServiceClient_WebReference_RateService" serializeAs="String">
                <value>https://gatewaybeta.fedex.com:443/web-services</value>
            </setting>
        </RateWebServiceClient.Properties.Settings>
    </applicationSettings>

    <connectionStrings>
<!-- remote -->
<!--
        <add name="titus_fs_internet" connectionString="Data Source=66.111.110.120;Initial Catalog=Titus_FS_Internet;User ID=webstore;Password=Texas@dallas;persist security info=False" />
        <add name="titus_fs_metadata" connectionString="Data Source=Data Source=66.111.110.120;Initial Catalog=titus_fs_metadata;User ID=webstore;Password=Texas@dallas;persist security info=False" />
        <add name="titus_repsonly" connectionString="Data Source=66.111.110.120;Initial Catalog=repsonly;User ID=webstore;Password=Texas@dallas;persist security info=False" />
        <add name="krueger_repsonly" connectionString="Data Source=66.111.110.120;Initial Catalog=Krueger_repsonly;User ID=webstore;Password=Texas@dallas;persist security info=False" />
        <add name="krueger_fs_internet" connectionString="Data Source=66.111.110.120;Initial Catalog=krueger_FS_Internet;User ID=webstore;Password=Texas@dallas;persist security info=False" />
        <add name="krueger_fs_metadata" connectionString="Data Source=66.111.110.120;Initial Catalog=krueger_fs_metadata;User ID=webstore;Password=Texas@dallas;persist security info=False" />
        <add name="Ecatalog" connectionString="Data Source=66.111.110.120;Initial Catalog=ASC_ECatalog;User ID=webstore;Password=Texas@dallas;persist security info=False" />
        <add name="warehouse" connectionString="Data Source=BPWEBSQL1;Initial Catalog=ascwarehouse;User ID=sa;Password=gfhjkm;persist security info=False" />
-->
<!-- remote -->

        <add name="repsonly" connectionString="Data Source=ZOO;Initial Catalog=repsonly;User ID=sa;Password=gfhjkm;persist security info=False" />
        <add name="titus_repsonly" connectionString="Data Source=ZOO;Initial Catalog=repsonly;User ID=sa;Password=gfhjkm;persist security info=False" />
        <add name="krueger_fs_internet" connectionString="Data Source=ws43\sql2005;Initial Catalog=warehouse1;User ID=sa;Password=gfhjkm;persist security info=False" />  
        <add name="krueger_fs_metadata" connectionString="Data Source=ws43\sql2005;Initial Catalog=warehouse1;User ID=sa;Password=gfhjkm;persist security info=False" />
        <add name="titus_fs_internet" connectionString="Data Source=ws43\sql2005;Initial Catalog=warehouse1;User ID=sa;Password=gfhjkm;persist security info=False" />  
        <add name="titus_fs_metadata" connectionString="Data Source=ws43\sql2005;Initial Catalog=warehouse1;User ID=sa;Password=gfhjkm;persist security info=False" />
        <add name="Ecatalog"          connectionString="Data Source=ZOO;Initial Catalog=ASC_ECatalog;User ID=sa;Password=gfhjkm;persist security info=False" /> 
        <add name="warehouse"         connectionString="server=(local); database=ascwarehouse;User ID=sa;password=gfhjkm"/>
    </connectionStrings>

    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>


  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
    <system.web>
        <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
        <compilation defaultLanguage="c#" debug="true">
            <compilers>
                <compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /unsafe+"/></compilers>
            <assemblies>
                <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                </assemblies></compilation>
        <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
        <customErrors mode="RemoteOnly"/>
        <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
        <authentication mode="None"/>
        <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
        <authorization>
            <allow users="*"/>
            <!-- Allow all users -->
            <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
        </authorization>
        <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
        <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
        <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
        <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
        <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
        <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
        <xhtmlConformance mode="Legacy"/></system.web>

</configuration>
