<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWcfService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="03:00:00" sendTimeout="00:15:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="16777216"
          maxBufferSize="16777216" maxConnections="10" maxReceivedMessageSize="16777216">
          <readerQuotas maxDepth="32" maxStringContentLength="16777216" maxArrayLength="16777216"
            maxBytesPerRead="16777216" maxNameTableCharCount="16777216" />
          <reliableSession ordered="true" inactivityTimeout="03:00:00"
            enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfServiceWeb" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="03:00:00" sendTimeout="00:15:00"
          transferMode="Buffered" hostNameComparisonMode="StrongWildcard"  maxBufferPoolSize="16777216"
          maxBufferSize="16777216" maxReceivedMessageSize="16777216">
          <readerQuotas maxDepth="32" maxStringContentLength="16777216" maxArrayLength="16777216"
            maxBytesPerRead="16777216" maxNameTableCharCount="16777216" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8888/SmartScheduleWCFService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfService1"
        contract="WcfServiceClient.IWcfService" name="NetTcpBinding_IWcfService1">
        <identity>
          <userPrincipalName value="WSSERGEIK\User SERg" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/SmartScheduleWCFService/mex" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior" name="SmartSchedule.Domain.WCF.WcfService">
        <clear />
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfService1"
          contract="SmartSchedule.Domain.WCF.IWcfService" listenUriMode="Explicit" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" listenUriMode="Explicit" />
        <endpoint address="http://localhost:8080/SmartScheduleWCFService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfServiceWeb"
                  contract="SmartSchedule.Domain.WCF.IWcfServiceWeb" listenUriMode="Explicit" />
        <endpoint address="http://localhost:8080/SmartScheduleWCFService/mex" binding="mexHttpBinding" bindingConfiguration=""
                  contract="IMetadataExchange" listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8888/SmartScheduleWCFService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Error"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\log\SmartSchdWCF.log.txt"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>