BODY {
	background-color: #ffffff;	
}
a
{
	text-decoration: none;
	color:Steelblue;
}

.Header {
	font: bold Arial;
	color: #ffffff;
}

.Grid_Header_Thin {
	font: x-small Verdana, Arial, sans-serif;
	color: white;
	background-color: darkblue;
}

.Grid_AlternatingItem {
	font: x-small Verdana, Arial, sans-serif;
	background-color: #E8E6E6;
	vertical-align: top;
}

.Grid_SelectedItem {
	font: x-small Verdana, Arial, sans-serif;
	color: Black;
	background-color: orange;
	vertical-align: top;
}

.MenuTable {
	padding: 0;
	font: x-small Verdana, Arial, sans-serif;
	color: yellow;
	background-color: darkblue;
}

.Preview {
	color: darkblue;
	background-color: #F1F1F1;
}

.Error {
	color: red;
}

.MenuRow {
	font: x-small Verdana, Arial, sans-serif;
	color: lightgreen;
}

A.MenuItem {
	font: x-small Verdana, Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: lightgreen;
	text-decoration: none;
}

A.MenuItem:hover {
	color: black;
	text-decoration: none;
}

.GridLink {
	color: black;
}

.GridLink:hover {
	color: red;
}

TD 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal;
	font-weight: bold ; 
	color: DimGray
}

.Site_Header 
{
	font-family: Verdana;
	font-size: 9pt;
	color: white;
	background-color: #669999;
	border:1px;
	border-style: solid; 
	border-color: #000000;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.white_bold 
{  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none
}

.white_normal 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: normal; 
	color: #FFFFFF; 
	text-decoration: none 
}

.midgray_small 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	font-weight: normal; 
	color: #999999; 
	text-decoration: none 
}

.midgray_normal 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: normal; 
	color: #999999; 
	text-decoration: none 
}

.midgray_bold 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; font-style: normal; 
	font-weight: bold; 
	color: #999999; 
	text-decoration: none 
}

.01_pic_bold 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #6666FF; 
	text-decoration: none 
}

.02_vid_bold 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #6699FF; 
	text-decoration: none 
}

.white_italic 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: italic; 
	font-weight: normal; 
	color: #FFFFFF; 
	text-decoration: none 
}

.midgray_italic 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: italic; 
	font-weight: normal; 
	color: #999999; 
	text-decoration: none 
}

.03_exp_bold 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #FFCC33; 
	text-decoration: none 
}

.04_err_bold 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #FF3333; 
	text-decoration: none 
}

.05_con_required 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #FF6347;  
}

.05_con_bold 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #003399; 
	text-decoration: none 
}

.05_con_label 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: bold; 
	color: Gray; 
	text-decoration: none 
}
.faqs 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight:normal;
	color: black;
}

.subheader_feature
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11pt; 
	font-style: normal; 
	font-weight: bold; 
	color: Chocolate; 
	text-decoration: none 
}

.subheader_step 
{
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 11pt; 
	font-style:normal;
	font-weight: bold; 
	color: Gray; 
	text-decoration: none
}

.05_con_sublabel_zip 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: bold; 
	color: Black; 
	text-decoration: none 
}

.05_con_head 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #003399; 
	text-decoration: none 
}

.05_con_subbold 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #003399; 
	text-decoration: none 
}

.subitems
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	color: SteelBlue;
	text-decoration: none 
}

.05_con_bold_big 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #003399; 
	text-decoration: none 
}

.00_wel_bold { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; color: #666666; text-decoration: none }
.midgray_bullet { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #999999; text-decoration: none ; list-style-image: url(images/gen_bullet.gif); list-style-position: outside}
.04_por_boldbullet { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; color: #FF9900; text-decoration: none ; list-style-position: outside; list-style-image: url(images/arrows_bullet.gif); line-height: 12px}
.fielder {border-color: #C0C0C0; border-width: 1; color: #999999; font-size: 8pt; font-family: verdana; font-weight: bold;}
.submitter {background-color: #808080; border-color: #CCCCCC; border-width: 2; color: #FFFFFF; font-size: 9pt; font-family: verdana; font-weight: bold;}
.white_small_bold {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; color: #FFFFFF; text-decoration: none}

TABLE.blackborder  {
	border: 2px black;
	background-color: #f5f5f5;
	padding: 0;
	margin: 0;
}

TABLE.Level1Class
{
	border-top-width: 1px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 1px;
	font-size: smaller;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-bottom: gray 1px solid;
	font-family: Arial, HelvCondensed, sans-serif;
	background-color: white;
	border-right-width: 1px;
}

.05_con_normal 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	font-style: normal; 
	color: #333333; 
	text-decoration: none 
}


.05_con_small 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-style: normal; 
	color: #333333; 
	text-decoration: none 
}

.05_level1prod 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-style: normal; 
	color: #333333; 
	text-decoration: none ;
	font-weight: bold
}

.05_level1prodhead 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	color: #333333; 
	text-decoration: none ;
	font-weight: bold
}

.05_con_medium
{
	font-size: 8pt;
	color: darkgray;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.04_err_normal { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; color: #FF3333; text-decoration: none }

.list_table
{
	margin-top : 5px;
	margin-left : 4px;
	background-color : #708090;
}

.list_table_row_on
{
	border-top : 1px solid #000000;
	border-bottom : 1px solid #000000;
	background-color : #E0E0E0;
	text-align : left;
}

.list_table_row_off
{
	border-top : 1px solid #FFFFFF;
	border-bottom : 1px solid #FFFFFF;
	background-color : #FFFFFF;
	text-align : left;
}

.list_table_header
{
	background-color : #f5da56;
	text-align : center;
	border-bottom : 1px solid #70849E;
	border-right : 1px solid #70849E;
	border-left : 1px solid #FFFFFF;
	border-top : 1px solid #FFFFFF;
	vertical-align : bottom;
}

.list_table_footer
{
	background-color : #f5da56;
	text-align : left;
	border-bottom : 1px solid #70849E;
	border-right : 1px solid #70849E;
	border-left : 1px solid #FFFFFF;
	border-top : 1px solid #FFFFFF;
	vertical-align : bottom;
}

.Data_Outer_Div
{
	background-color:#dadada;
	font-weight:bold;
	text-align:left;
	padding:5px;
	vertical-align:middle;
	border:1px solid #003163;		
	filter:progid:DXImageTransform.Microsoft.shadow(color=#888888, direction=135, strength=5) progid:DXImageTransform:Microsoft.gradient(enabled='true', startColorstr=#COD4EE, endColorstr=#336699);
	white-space:nowrap;
	width:660;
	margin-left:15px;
}

.Data_Inner_Div
{
	font-weight:normal;
	background-color:#f4eeee;
	vertical-align:middle;
	border-bottom:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-left:1px solid #70849E;
	border-top:1px solid #70849E;
	margin-top:4px;
	padding:10px;
}

.layout_table
{
	border: 0px;
	padding: 0px;
	width: 669px;
}

.separator_row
{
	height:20px;
}

.left_padding
{
	white-space: nowrap;
	width:11px;
}

.property_name
{
	text-align:left;
	white-space:nowrap;
	width:190px;
}

.property_value
{
	text-align:left;
	white-space:nowrap;
	width:250px;
}

.property_sub_value
{
	font-size: 9pt;
	text-align:center;
	white-space:nowrap;
	width:50%;
}

.property_validator 
{
	text-align:left;
	white-space:nowrap;
	width:200px;
}

.page_header
{
	font-weight: bold;
	font-size: 12pt;
	color: chocolate;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.page_sub_header
{
	font-weight: bold;
	font-size: 10pt;
	color: chocolate;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}