BODY
{
	background-color: #ffffff;
}
a
{
	text-decoration: none;
	color: Steelblue;
}

a.underline
{
	text-decoration: underline;
	color: Steelblue;
}

a.small
{
	color: Steelblue;
	font-family: sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
}


.Header
{
	font: bold Arial;
	color: #ffffff;
}

.Grid_Header_Thin
{
	font: x-small Verdana, Arial, sans-serif;
	color: white;
	background-color: darkblue;
}

.Grid_AlternatingItem
{
	font: x-small Verdana, Arial, sans-serif;
	background-color: #E8E6E6;
	vertical-align: top;
}

.Grid_SelectedItem
{
	font: x-small Verdana, Arial, sans-serif;
	color: Black;
	background-color: orange;
	vertical-align: top;
}

.MenuTable
{
	padding: 0;
	font: x-small Verdana, Arial, sans-serif;
	color: yellow;
	background-color: darkblue;
}

.Preview
{
	color: darkblue;
	background-color: #F1F1F1;
}

.Error
{
	color: red;
}

.MenuRow
{
	font: x-small Verdana, Arial, sans-serif;
	color: lightgreen;
}

A.MenuItem
{
	font: x-small Verdana, Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: lightgreen;
	text-decoration: none;
}

A.MenuItem:hover
{
	color: black;
	text-decoration: none;
}

.GridLink
{
	color: black;
}

.GridLink:hover
{
	color: red;
}

TD, div.report_row
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: DimGray;
}

.Site_Header
{
	font-family: Verdana;
	font-size: 9pt;
	color: white;
	background-color: #669999;
	border: 1px;
	border-style: solid;
	border-color: #000000;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.white_bold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.white_normal
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.midgray_small, span.label_note
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}

.midgray_normal
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}

.midgray_bold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}

.01_pic_bold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #6666FF;
	text-decoration: none;
}

.02_vid_bold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #6699FF;
	text-decoration: none;
}

.white_italic
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: italic;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.midgray_italic
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: italic;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}

.03_exp_bold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #FFCC33;
	text-decoration: none;
}

.04_err_bold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #FF3333;
	text-decoration: none;
}

.05_con_required
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #FF6347;
}

.05_con_bold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}

.05_con_label
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: Gray;
	text-decoration: none;
}
.faqs
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: black;
}

.subheader_feature
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: bold;
	color: Chocolate;
	text-decoration: none;
}

.subheader_step
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: bold;
	color: Gray;
	text-decoration: none;
}

.05_con_sublabel_zip
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: Black;
	text-decoration: none;
}

.05_con_head
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}

.05_con_subbold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}

.subitems
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: SteelBlue;
	text-decoration: none;
}

.subitems a
{
	text-decoration: underline;
}

.05_con_bold_big
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}

.00_wel_bold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.midgray_bullet
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
	list-style-image: url(images/gen_bullet.gif);
	list-style-position: outside;
}
.04_por_boldbullet
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #FF9900;
	text-decoration: none;
	list-style-position: outside;
	list-style-image: url(images/arrows_bullet.gif);
	line-height: 12px;
}
.fielder
{
	border-color: #C0C0C0;
	border-width: 1;
	color: #999999;
	font-size: 8pt;
	font-family: verdana;
	font-weight: bold;
}
.submitter
{
	background-color: #808080;
	border-color: #CCCCCC;
	border-width: 2;
	color: #FFFFFF;
	font-size: 9pt;
	font-family: verdana;
	font-weight: bold;
}
.white_small_bold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

TABLE.blackborder
{
	border: 2px black;
	background-color: #f5f5f5;
	padding: 0;
	margin: 0;
}

TABLE.Level1Class
{
	border-top-width: 1px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 1px;
	font-size: smaller;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-bottom: gray 1px solid;
	font-family: Arial, HelvCondensed, sans-serif;
	background-color: white;
	border-right-width: 1px;
}

.05_con_normal
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #333333;
	text-decoration: none;
}


.05_con_small
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	color: #333333;
	text-decoration: none;
}

.05_level1prod
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

.05_level1prodhead
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

.05_con_medium
{
	font-size: 8pt;
	color: darkgray;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.04_err_normal
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #FF3333;
	text-decoration: none;
}

.list_table
{
	margin-top: 5px;
	margin-left: 4px;
	background-color: #708090;
}

.list_table_row_on
{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #E0E0E0;
	text-align: left;
}

.list_table_row_off
{
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	text-align: left;
}

.list_table_header
{
	background-color: #f5da56;
	text-align: center;
	border-bottom: 1px solid #70849E;
	border-right: 1px solid #70849E;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	vertical-align: bottom;
}

.list_table_footer
{
	background-color: #f5da56;
	text-align: left;
	border-bottom: 1px solid #70849E;
	border-right: 1px solid #70849E;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	vertical-align: bottom;
}

.Data_Outer_Div
{
	background-color: #dadada;
	font-weight: bold;
	text-align: left;
	padding: 5px;
	vertical-align: middle;
	border: 1px solid #003163;
	filter: progid:DXImageTransform.Microsoft.shadow(color=#888888, direction=135, strength=5) progid:DXImageTransform:Microsoft.gradient(enabled= 'true' , startColorstr=#COD4EE, endColorstr=#336699);
	white-space: nowrap;
	width: 660;
	margin-left: 15px;
}

.Data_Inner_Div
{
	font-weight: normal;
	background-color: #f4eeee;
	vertical-align: middle;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #70849E;
	border-top: 1px solid #70849E;
	margin-top: 4px;
	padding: 10px;
}

/* TODO: remove*/
.layout_table
{
	border: 0px;
	padding: 0px;
	width: 669px;
}

/* TODO: remove*/
.layout_table a
{
	text-decoration: underline;
}

/* TODO: remove*/
.separator_row, .separator_row td
{
	height: 20px;
}

/* TODO: remove*/
.left_padding
{
	white-space: nowrap;
	width: 11px;
}

/* TODO: remove*/
.property_name
{
	text-align: left;
	white-space: nowrap;
	width: 190px;
	height: 30px;
}

/* TODO: remove*/
.property_value
{
	text-align: left;
	white-space: nowrap;
	width: 250px;
	height: 30px;
}

/* TODO: remove*/
.property_sub_value
{
	font-size: 9pt;
	text-align: center;
	white-space: nowrap;
	width: 50%;
}

/* TODO: remove*/
.property_validator
{
	text-align: left;
	white-space: nowrap;
	width: 200px;
}

/* TODO: remove*/
.header
{
	border-right: dimgray 1px solid;
	border-top: dimgray 1px solid;
	font-weight: bold;
	font-size: 12pt;
	padding-bottom: 5px;
	border-left: dimgray 1px solid;
	color: chocolate;
	padding-top: 5px;
	border-bottom: dimgray 1px solid;
	background-color: whitesmoke;
}

.title_1
{
	float: left;
	font-weight: bold;
	font-size: 12pt;
	color: chocolate;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-left: 10px;
}

.title_2
{
	font-weight: bold;
	font-size: 10pt;
	color: chocolate;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-left: 10px;
}

.title_3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
	padding-left: 10px;
}

.requireIndicator
{
	color: #FF3333;
}

table.linkTable a
{
	font-weight: normal;
	font-size: 13px;
	text-decoration: none;
	border-bottom-style: solid;
	border-width: 1px;
	padding: 1px 3px 1px 3px;
	display: block;
}

table.linkTable a, table.linkTable a:visited
{
	background-color: White;
	color: #708090;
	border: #D3D3D3 solid 1px;
}

table.linkTable a:hover
{
	background-color: #D9DFE5;
	color: #53626E;
	border: #708090 solid 1px;
}

table.linkTable td
{
	margin: 0;
	padding: 2px;
	white-space: nowrap;
}

table.linkTable a img
{
	height: 16px;
	width: 16px;
	padding-right: 3px;
	border: none;
	vertical-align: middle;
}

html, body
{
	height: 100%;
	padding-bottom: 0px;
}

.page_header
{
	vertical-align: top;
}

.page_left_side_bar_cxt, .page_left_side_bar_footer
{
	background-image: url(images/about_side_background.jpg);
	background-repeat: repeat-y;
	width: 123px;
}

.page_left_side_bar_cxt
{
	vertical-align: top;
	height: 100%;
}

.page_left_side_bar_footer
{
	vertical-align: bottom;
}

.page_cxt
{
	text-align: left;
	vertical-align: top;
}

.page_footer, div.page_footer_stand_along
{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 7.5pt;
	vertical-align: bottom;
}

.page_footer a, div.page_footer_stand_along a
{
	text-decoration: underline;
}

div.page_footer_stand_along
{
	border-top: dimgray 1px solid;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-top: 5px;
}

.logout
{
	left: 717px;
	position: absolute;
	top: 30px;
}

.verisign_logo /* a img*/
{
	left: 658px;
	position: absolute;
	border: none;
	top: 40px;
}

#signUpLink
{
	border-right: ghostwhite 1px solid;
	border-top: ghostwhite 1px solid;
	font-weight: bold;
	font-size: 9pt;
	left: 30px;
	vertical-align: baseline;
	border-left: ghostwhite 1px solid;
	width: 90px;
	color: ghostwhite;
	border-bottom: ghostwhite 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 370px;
	background-color: peru;
	text-align: center;
}

/* Error messages ************************************************************/

.page_wide_error_message
{
	padding-left: 8px;
	padding-bottom: 10px;
	color: red;
}

div.page_wide_error_panel
{
	padding-left: 8px;
	width: 781px;
	padding-top: 10px;
	height: 50px;
}

span.error_message 
{
	color: red;
}

/* DIV Design ****************************************************************/

/* Forms */

div.form, div.process_form_section
{
	width: 480px;
}

.div.form, div.wide_form
{
	margin-top: 10px;
}

div.form, div.wide_form, div.process_form, div.process_map, div.page_footer_stand_along
{
	margin-left: 8px;
}

/* Rows */

div.spacer
{
	clear: both;
}

div.row
{
	height: 24px;
}

div.row, div.report_row, div.section_row, div.button_row, div.tab_row
{
	clear: both;
}

div.button_row
{
	margin-top: 8px;
	white-space: nowrap;
}

div.tab_row
{
	margin-bottom: 10px;
}

div.row, div.report_row
{
	padding-top: 2px;
}

div.section_row
{
	padding-top: 12px;
}

div.row span.label, div.section_row span.label
{
	float: left;
	vertical-align: middle;
	width: 150px;
	white-space: nowrap;
	text-align: left;
}

#pnlPublicAccountLogin div.row span.label
{
	float: left;
	vertical-align: middle;
	width: 90px;
	white-space: nowrap;
	text-align: left;
}

div.row span.value, div.section_row span.value
{
	float: right;
	width: 300px;
	text-align: left;
}

#pnlPublicAccountLogin div.row span.value
{
	float: right;
	width: 200px;
	text-align: left;
}

div.button_row span.button
{
	float: right;
	width: 300px;
	text-align: right;
}

div.button_row span.next_button
{
	float: right;
	width: 100px;
	text-align: right;
}

div.button_row span.back_button
{
	float: left;
	width: 100px;
	text-align: left;
}

div.row a.link, div.section_row a.link
{
	float: right;
	width: 300px;
	text-align: left;
	text-decoration: underline;
}

div.row a.single_link, div.section_row a.single_link
{
	float: left;
	text-align: left;
	text-decoration: underline;
}

div.row span.zip_code_header
{
	float: right;
	text-align: right;
}

span.statement
{
	font-weight: normal;
	font-size: 9pt;
	color: #999999;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	display: block;
}

div.section_title
{
	margin-top: 10px;
	font-weight: bold;
	font-size: 11pt;
	margin-bottom: 12px;
	color: chocolate;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

/* Form fields ***************************************************************/

.account_number
{
	width: 75px;
}

.phone_area_code, .phone_prefix
{
	width: 35px;
}

.phone_line_number
{
	width: 45px;
}

.month, .day
{
	width: 35px;
}

.year
{
	width: 45px;
}

.password
{
	width: 210px;
}

.zip
{
	width: 45px;
}

.state
{
	width: 175px;
}

.city, .address2, .streetNumber, .streetName, .unitNumber
{
	width: 210px;
}

.wide_field
{
	width: 100%;
}


INPUT.flattextbox
{
	border-right: #dedede 1px solid;
	border-top: #000 1px solid;
	font-size: 10px;
	margin-bottom: 5px;
	border-left: #000 1px solid;
	border-bottom: #dedede 1px solid;
	height: 17px;
}

/* Process Map ***************************************************************/

div.process_map
{
	border-top-width: thin;
	font-weight: bold;
	border-left-width: thin;
	font-size: 9pt;
	border-left-color: dimgray;
	padding-bottom: 5px;
	color: dimgray;
	border-top-color: dimgray;
	padding-top: 5px;
	border-bottom: dimgray 1px solid;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	background-color: whitesmoke;
	border-right-width: thin;
	border-right-color: dimgray;
}

.process_map .previous_step
{
}

.process_map .current_step
{
	color: chocolate;
}

.process_map .next_step
{
	color: lightgrey;
}

/* Account Setup *************************************************************/

div.process_map, div.process_form, div.page_footer_stand_along, div.wide_form
{
	width: 773px;
}

.step_caption
{
	margin-top: 8px;
	font-weight: bold;
	font-size: 12pt;
	margin-bottom: 10px;
	color: chocolate;
	font-family: Arial, Helvetica, sans-serif;
}

/* Account Setup - temporary layout ******************************************/

table.process_table
{
	border: 0px;
	padding: 0px;
	width: 100%;
}

td.question
{
	text-align: left;
	white-space: nowrap;
	width: 350px;
	height: 30px;
}

td.answer
{
	text-align: left;
	white-space: nowrap;
	height: 30px;
}

/* Report ********************************************************************/

div.report
{
	width: 636px;
}

span.report_header
{
	float: right;
	text-align: right;
	font-weight: normal;
}

span.report_foot
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	font-weight: normal;
	font-size: 11px;
	border-left: black 1px solid;
	width: 100%;
	border-bottom: black 1px solid;
	text-align: center;
}

span.report_title
{
	clear: both;
	font-weight: bold;
	width: 100%;
	color: black;
	background-color: darkgray;
}

span.report_label, span.report_terms_and_conditions
{
	float: left;
	font-weight: normal;
	vertical-align: middle;
	white-space: nowrap;
	text-align: left;
}

span.report_value
{
	font-weight: normal;
	float: right;
	text-align: right;
	white-space: nowrap;
}

span.report_text 
{
	float: left;
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
}

span.report_terms_and_conditions
{
	font-size: 11px;
}

/* Feature table (Select services) *******************************************/

td.feature_price
{
	font-size: 8pt;
	color: steelblue;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	text-decoration: none;
}

/* Wireless **********/

table.table_form tr
{
	height: 25px;
}

td .value
{
	font-weight: normal;
}

td .buttons
{
	height: 30px;
	background-color: ghostwhite;
	text-align: center;
}

td .title
{
	font-weight: bold;
	font-size: 11pt;
	color: chocolate;
	height: 25px;
	background-color: whitesmoke;
	text-align: center;
}

div.top_spacer
{
	margin-top: 8px;
}

/* Plan details panel ****************************************************/

div.plan_detail 
{
	margin-top: 8px;
	margin-left: 8px;
}

.package_text
{
	font-size: 12px;
	color: #4d4d4d;
	font-family: Arial, Helvetica, sans-serif;
}

.package_name
{
	font-size: 14pt;
	color: #ff6600;
}

.package_price
{
	font-size: 14pt;
	color: #ff6600;
}

.package_price_note
{
	font-weight: normal;
	font-size: 8pt;
	color: #999999;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

/* Tab control ***************************************************************/

.tab
{
	font-size: 1.0em;
	background: url(images/t3_bg.gif) #fff repeat-x 50% bottom;
	float: left;
	margin-bottom: 12px;
	width: 100%;
	line-height: normal;
	font-family: arial,verdana,sans-serif;
}

.tab ul
{
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}

.tab li
{
	padding-right: 0px;
	padding-left: 9px;
	background: url(images/t3_left.gif) no-repeat left top;
	float: left;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}

.tab a
{
	padding-right: 15px;
	display: block;
	padding-left: 6px;
	font-weight: bold;
	background: url(images/t3_right.gif) no-repeat right top;
	float: left;
	padding-bottom: 8px;
	color: #777;
	margin-right: 3px;
	padding-top: 8px;
	text-decoration: none;
}

/* Commented Backslash Hack hides rule from IE5-Mac \ */
.tab a
{
	float: none;
}
/* End IE5-Mac hack */

.tab a:hover
{
	color: #333;
}

.tab .selected
{
	background-image: url(images/t3_left_on.gif);
}

.tab .selected a
{
	background-image: url(images/t3_right_on.gif);
	padding-bottom: 9px;
	color: #222;
}

.tab div.note
{
	float: right;
	text-align: right;
}

























