<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AerSysCo.MacPac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AerSysCo.MacPac.Properties.Settings>
            <setting name="AerSysCo_MacPac_WebReference_Service" serializeAs="String">
                <value>http://76.225.134.22/ws_macpac/Service.asmx</value>
            </setting>
        </AerSysCo.MacPac.Properties.Settings>
    </applicationSettings>
</configuration>