.forma-big .row {
  margin: 15px 0;
}

.forma-big .row p{
  margin: 10px 0 0 115px;
}

.forma-small .row {
  width: 320px;
}

.forma-small label
{
	float:left;
	display:block;
	text-align:left;
	line-height:23px;
	padding:0 5px 0 40px;
}

.forma-big label
{
	float:left;
	display:block;
	text-align:left;
	line-height:23px;
	padding:0 5px 0 50px;
}
.row textarea
{
	width:150px;
}

.row.submit input
{
	margin-left:15px;
}

.sf-menu a.current{
  color: #C70507 !important;
}

.sf-menu a.current:hover{
  color: #fff !important;
}

#content{
  zoom: 1;
}

div.row p {
  font-size: 12px;
}

