h3 {
color: #8D3D25;
}

.formaw {
border:1px solid #d6c8ac;
background: url(css/forma_bg2.png) #fbf9f7 bottom repeat-x;
color:#51452d;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}
.tableHeading {
text-align:center;
font-weight:bold;
line-height:20px;
background: url(css/forma_bg2.png) #f4f0e7 bottom repeat-x;
border-bottom:1px solid #d6c8ac;
}
.inputShadow {
background: url(css/input_bg.png) #fff -1px -1px no-repeat;
border:1px solid #d6c8ac;
font-size:12px;
height:20px;
text-indent:3px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.bodyTable {
background: url(css/body_bg.png) #fbf9f7 top repeat-x;
}

body {
margin:0;
padding:0;
width:100%;
background:#e4e4e2;
background: url(css/body_bg.png) #fbf9f7 top repeat-x;
}
table {
border-collapse:collapse;
font:11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.ll-menu {
background: #e4e4e2;
background:url(css/toolbar_bg.gif) #c0c0c0 repeat-x top;
font:11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
color:#555555;
height:20px;
padding-left:5px;
}

.ll-sub-menu {
border:1px solid #ccc !important;
}
/*
.ll-sub-menu .gwt-MenuItem-selected {
background:#c0c0c0;
color:#fff;
}*/

.gwt-MenuItem {
    background:url(css/toolbar_bg.gif) #c0c0c0 repeat-x top;
    height:20px;
    color:#777;
    cursor: pointer;
    padding-left:5px;
    padding-right:5px;
}
.gwt-MenuItem-selected {
    color:#fff !important;
    background:url(css/menu_bg_hover.gif) #67940c repeat-x top;
}
.gwt-TextBox {
    margin-right:5px;
	font-size:9px;
}
.gwt-ListBox
{
	font-size:9px;
}
/*
.ll-menu-list {
margin:0;
padding:0;
padding-left:10px;
line-height:22px;
}
.ll-menu-list li{
display:inline;
line-height:22px;
}
.ll-menu a {
text-decoration:none;
color:#4E4527;
padding: 5px 7px 5px 7px;
}
.ll-menu a:hover {
background:url(css/menu_bg_hover.gif) #c0c0c0 repeat-x top;
color:#4E4527;
padding: 5px 7px 5px 7px;
}*/
.ll-toolbar {
background:url(css/menu_bg.gif) #d4d7c1 repeat-x top;
font:11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
border-bottom:1px #D2C8B9 solid;
border-top:1px #D2C8B9 solid;
color: #666666;
padding-top:1px;
padding-bottom:0px;
width:100%;
}
.ll-subToolbar {
}

.ll-spacer {
display:inline;
margin-left:15px;
margin-right:0px;
}
.ll-button24 {
display: inline;
/*border:1px solid #DAD9CF;*/
}
.ll-button24 img{
margin-left:1px;
margin-right:0px;
padding:2px;
/*border:1px solid #DAD9CF;*/
}
.ll-button24 img:hover {
background: url(css/menu_bg_hover.gif) #B8B9A2 repeat-x top;
cursor:pointer;
}
.ll-statusbar {
width:99%;
position: fixed;
bottom:0;
border: 1px solid #CCD7C8;
background:#EDF1ED;
font:11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
color:#867A53;
padding:2px;
padding-left:5px;
}
.ll-statusbar-text {
 font-weight:bold;
 border:#DEE1D9;
 padding:2px;
}
.ll-tree {
padding:5px;
font:11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
color: #666666;
}

.ll-tree-selected-item {
/*    font-weight:bold;*/
color:#27701D;
}
.ll-tree-standart-item {
    font-weight:normal;
}

.ll-content {
/*background:#CCCCCC;*/
}
.ll-tree-container {
    background: #fff;
    border-right:1px solid #CCCCCC;
    vertical-align:top;
}
.ll-main-container {
    width:100%;
    height:100%;
}

.ll-CaptionCell {
    font-size: 11px;
    text-align: right;
    padding:3px 4px 3px 5px;
	 font-weight:bold;
	 color:#4B6D6C;
}

.ll-InfoCell {
   
    font-size: 11px;
    padding:3px 6px 3px 2px;
}


.ll-map-log-container {
    font:11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    width:100%;
}
.ll-work-container {
    width:100%;
}
.ll-log-container {
    background:#FFFFFF none repeat scroll 0%;
    border-top:1px solid #CCCCCC;
    width:100%;
}
.ll-log {
    height:80px;
    overflow:auto;
    overflow-y:scroll;
}
.ll-log tr:hover {
    background:#e3eae7;
    color:#000;
}
.ll-log tr{
    border-bottom: 1px solid #e3eae7;
}    
.ll-log-th-level {
    font-weight:bold;
    width:35px;
    text-align:center;
   background: #c2d49e url(css/log_bg.gif) top repeat-x;
    border-bottom: 1px solid #92b073;
    border-top: 1px solid #92b073;
    border-left: 1px solid #92b073;
}    
.ll-log-td-level {
    width:40px;
    border-bottom: 1px solid #cfd6b6;
    text-align:center;
    border-right: 1px solid #e3eae7;
    padding-left: 5px;
}    

.ll-log-th-vehicle {
    width:150px;
    font-weight:bold;
    text-align:center;
   background: #c2d49e url(css/log_bg.gif) top repeat-x;
    border-bottom: 1px solid #92b073;
    border-top: 1px solid #92b073;

}
.ll-log-td-vehicle {
    width:150px;
    border-bottom: 1px solid #cfd6b6;
    border-right: 1px solid #e3eae7;
    padding-left:5px;
}
    
.ll-log-th-message {
    width:70%;
    font-weight:bold;
    text-align:center;
   background: #c2d49e url(css/log_bg.gif) top repeat-x;
    border-bottom: 1px solid #92b073;
    border-top: 1px solid #92b073;
}
.ll-log-td-message {
    width:70%;
    border-bottom: 1px solid #cfd6b6;
    border-right: 1px solid #e3eae7;
    padding-left:5px;
}    

.ll-log-th-timestep {
    font-weight:bold;
    width:200px;
    text-align:center;
   background: #c2d49e url(css/log_bg.gif) top repeat-x;
    border-bottom: 1px solid #92b073;
    border-top: 1px solid #92b073;

}
.ll-log-td-timestep {
    width:175px;
    border-bottom: 1px solid #cfd6b6;
    padding-left:8px;
    white-space:nowrap;
}

.ll-log-th-hide-scroll {
   background: #c2d49e url(css/log_bg.gif) top repeat-x;
    border-bottom: 1px solid #92b073;
    border-top: 1px solid #92b073;
        border-right: 1px solid #92b073;
}
.ll-log-label-hide-scroll {
    height: 12px;
    visibility:hidden;
    width:12px;
}

.gwt-Button {
    width: 60px;
}

.ll-AttentionDialogBox {
    border: 1px solid #94390c;
    margin-bottom: 1px;
    padding: 0px 0px 4px 0px;
    background: url(css/forma_bg2.png) #fbf9f7 repeat-x  bottom;
    color: #2F335D;
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, Geneva, Sans-serif;
    font-weight: bold;
    text-align: right;
    visibility: visible;
    padding:0px 0px 5px 0px;
}

.ll-AttentionDialogBox .Caption {
    border-bottom: 1px solid #94390c;
    margin-bottom: 4px;
    padding: 2px 0 3px 0;
    width: 100%;
    white-space: nowrap;
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, Geneva, Sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    cursor: move;
    color:#fff;
    background:url(css/attention_bg.png) #94390c repeat-x top;
}

.ll-AttentionDialogBox .gwt-Label {
padding:5px 8px 5px 5px !important;
}



.gwt-DialogBox {
    border: 1px solid #67940c;
    margin-bottom: 1px;
    padding: 0px 0px 4px 0px;
    background: url(css/forma_bg2.png) #fbf9f7 repeat-x  bottom;
    color: #2F335D;
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, Geneva, Sans-serif;
    font-weight: bold;
    text-align: right;
    visibility: visible;
    padding:0px 0px 5px 0px;
}

.gwt-DialogBox .Caption {
    border-bottom: 1px solid #67940c;
    margin-bottom: 4px;
    padding: 2px 0 3px 0;
    width: 100%;
    white-space: nowrap;
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, Geneva, Sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    cursor: move;
    color:#fff;
    background:url(css/menu_bg_hover.gif) #67940c repeat-x top;
}

.gwt-DialogBox .gwt-Label {
padding:5px 8px 5px 5px !important;
}

.gwt-DialogBox-hide {
    visibility: hidden;
}

.Splitter_handle_h {
    cursor: e-resize;
    background-image: url( "img/h_line.gif" );
    background-repeat: repeat-y;
    width: 8px;
    height: 100%;
    font-size: 5px;
    z-index: 1;
}

.Splitter_handle_v {
    cursor: n-resize;
    background-image: url("img/v_line.gif" );
    background-repeat: repeat-x;
    width: 100%;
    height: 8px;
    font-size: 5px;
    z-index: 1;
}


.ll-PopupWindowConfirm {
    border: 1px solid #6aabae;
    background: url(img/box_bg.gif) #EBF0F3 repeat-x left 20px;
}

.ll-PopupWindowConfirm .Caption {
    border-bottom: 1px solid #6aabae;
    margin: 0px;
    padding: 2px;
    background: url(css/confirm_bg.gif) #6aabae repeat-x bottom;
    color: #fff;
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, Geneva, Sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: move;
}

.ll-PopupWindowConfirm-work {
    padding: 25px 10px 20px 53px;
    background: url(css/quest.png) 8px 12px no-repeat;
    font-size: 13px;
    text-align: center;
	font-family: Calibri, "Trebuchet MS", "Lucida Grande", Verdana, Geneva, Sans-serif;
}

.ll-PopupWindowError {
    border: 1px solid #574949;
    padding: 0;
    background: url(css/forma_bg2.png) #fbf9f7 repeat-x  bottom;
}

.ll-PopupWindowError .Caption {
	border-bottom: 1px solid #94390c;
    margin-bottom: 4px;
    padding: 2px 0 3px 0;
    width: 100%;
    white-space: nowrap;
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, Geneva, Sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    cursor: move;
    color:#fff;
    background:url(css/attention_bg.png) #94390c repeat-x top;
}

.ll-PopupWindowError-additional {
}

.ll-PopupWindowError-work {
    margin-bottom: 0;
    margin-top: 10px;
    padding: 10px;
    color: #7B1F27;
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, Geneva, Sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.ll-PopupWindowInfo {
    border: 1px solid #789C8A;
    background-color: Gray;
}

.ll-PopupWindowInfo .Caption {
    background-color: #0000FF;
    text-align: center;
}

.ll-PopupWindowInfo-work {

}
.ll-PopupWindow-ButtonPanel {
    margin:5px;
}

.ll-VehicleHistoryDialog td{
    padding: 2px; 
}


.gwt-Button {
    margin:2px 5px 2px 5px;
}

.ll-JoinInfoLabel{
    padding: 5px; 
    color: yellow;
}

.ll-LeaveInfoLabel{
    padding: 18px 15px 15px 50px;; 
    color: #622117;
	font-family:Calibri,"Trebuchet MS", "Lucida Grande", Verdana, Geneva, Sans-serif;
	background:url(css/attention.png) 10px center no-repeat;
	font-size:12px;
}

.ll-AuthorizedInfoLabel {
    padding: 5px; 
    color: green;
}

.ll-log-leaveInfoRow {
    background: #EAD9C6;
	color: #3F271F; 
}
.ll-listTable {
padding:5px;
margin:10px;

}
.ll-listTable td {
padding:1px;
}
.ll-listTable td {
border-bottom:1px solid #d3e7a9;
}
.ll-listTable table td{
border:none;
}
.ll-listTable table td{
padding:1px;
}

.ll-listTable table td:hover{
background:#bdc7a8;
}

.ll-listTable tr:hover, .ll-listTable td:hover {
background:#fff;
}
.ll-listTable th {
background:#fff;
color:#507700;
border-top:1px solid #d3e7a9;
border-bottom:1px solid #d3e7a9;
}

.gwt-PasswordTextBox {
font-size:9px;
}
.buttonImage {
padding:2px;
margin:0 5px 0 5px;}

.ll-subToolbar .buttonImage {
padding:1px;
margin:0 5px 0 5px;

}
.ll-subToolbar .buttonImage:hover {
border:1px solid #92B073;
padding:0px;
background:#D2C8B9;
}

.ll-subToolbar {
padding:0px;
margin:0 5px 0 5px;
}

.gwt-TreeItem {
cursor:pointer;
}

.gwt-HorizontalSplitPanel {
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

