@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
    <script type="text/javascript">
        window.top.location.href = "https://workplace.intuit.com/app/";
    </script></head>
<body>
    <div>
        <h2>
            Sorry, an error occurred while processing your request. <a href="https://workplace.intuit.com/app/" target="_top">Exit</a>
        </h2>
    </div>
</body>
</html>
