<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Mode" value="DEVELOPMENT"/>
		<add key="privateKeyLoc" value="LeadCentral.pfx"/>
		<add key="privateKeyPass" value="Ariel1o1"/>
		<add key="IntuitPublicKey" value="intuit-saml-prd-127688837659061285409865340834996638643.crt"/>
		<add key="IDS_SERVER" value="https://services.intuit.com/sb/"/>
		<add key="IDS_VERSION" value="/v1/"/>
		<add key="WORKPLACE_SERVER" value="https://workplace.intuit.com/db/"/>
		<add key="APP_TOKEN" value="2jhrxudzefegichpht3mcn5de27"/>
		<add key="DB_SERVER" value="localhost"/>
		<add key="TWILIO_ACCOUNT_SID" value="AC3117046b0d0ef51f1adfd53df40e9842"/>
		<add key="TWILIO_APP_TOKEN" value="b410afccb143ebd9250e750efb20edae"/>
		<add key="TWILIO_HANDLER_BASE" value="http://phone.hotservice.com.ua/"/>
		<add key="mainConnectionString" value="server=localhost;user id=root; password=gfhjkm; database=leadcentral_main; pooling=true"/>
		<add key="DB_TEMPLATE" value="C:\Sites\db\dbTemplate.sql"/>
		<add key="DB_PREFIX" value="lc_"/>
		<add key="USER_PREFIX" value="lc_"/>
		<add key="EmailTemplateDir" value="D:\_work\LeadCentral\Dalworth.LeadCentral\Dalworth.LeadCentral.Web\emailTemplates\"/>
		<add key="EmailTemplateCreateLead" value="CreateLeadNotification.html"/>
		<add key="EmailNotificationFrom" value="valery@affilia.com"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
