/*
//----------------------------
// Named styles
//----------------------------
*/

.listItem
{
    paddingLeft:            3;
    paddingRight:           3;
    horizontalGap:          5;
    verticalAlign:          "middle";
    backgroundColor:        #FFFFFF;
    backgroundAlpha:        .5;
    borderStyle:            "outset";
}
